fastapi==0.111.0
uvicorn[standard]==0.30.0
requests==2.32.3
pandas==2.2.3
beautifulsoup4==4.12.3
lxml==5.2.2
orjson==3.11.2
ujson==5.10.0
python-dotenv==1.1.1
python-multipart==0.0.20

# Renderização JS para capturar a grade
playwright==1.45.0
